extends layout

block content
  div(style="display: flex; justify-content: space-between; align-items:center;")
    h1= title
    a(href="/new")
      button #{formText}
  p Welcome to #{title}
  ul
    each message in messages
      li #{message.text} by #{message.user} at #{message.added}
